<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Create a room</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <form action="/newRoom" method="POST">
            <label for="roomName">Room name:</label>
            <input type="text" id="roomName" name="roomName" required>

            <!-- Set the room to public or private -->
            <label for="public">Public</label>
            <input type="checkbox" id="public" name="public" value="true">


            <button type="submit">Create room</button>
        </form>
    </body>
</html>
