<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>
        List of rooms
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="search" id="search">
            <input type="text" placeholder="Search..">
        </div>
    </header>
    <main>
        <ul id="rooms">

        </ul>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room.js"></script>
</body>

</html>