body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  display: flex;
}

header {
  background-color: #222;
  padding: 0.5rem;
  color: #fff;
  padding: 2rem;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#buttons>a, #allRooms {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: .5rem;
  background: #333;
  white-space: nowrap;
}

#buttons>button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: .5rem;
  background: #333;
  white-space: nowrap;
  border: none;
  outline: none;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 12pt;
}

header a, #allRooms  {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1rem;
}

#buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  min-height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  resize: vertical;
}

#input {
  border: none;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  border-radius: .75rem;
  margin: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  /* Optionnel : désactive la redimension manuelle */
  max-height: 25vh;
}

#form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: calc(100vh - var(--form-height, 3rem));
  overflow-y: auto;
}

#messages>li {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

.date {
  font-size: 10px;
  color: #999;
  width: 100px;
}

.username {
  font-weight: bold;
  color: #333;
}

.message {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0;
}


#userSearch, #roomJoin {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

#userSearch>input, #roomJoin>input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

#userSearch>ul, #roomJoin>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
}

#userSearch span, #roomJoin span {
  color: #555;
  cursor: none;
}

.chatButton {
  text-decoration: none;
  padding-left: 16px;
}

.adminInSearch {
  padding-left: 8px;
}